@use "../../assets/sass/_variables.scss" as *;

.ticket--container {
  border: 2px solid $color-black;
  height: 500px;
  width: 80%;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;

  .ticket__border {
    border: 2px solid $color-black;
    width: 35%;
    border-radius: 20px;
    margin: 10px auto;
    .ticket__box {
      border: 2px solid $color-black;
      width: 90%;
      margin: 10px auto;
      text-align: center; 

      .ticket__counter {
        border: 2px solid $color-primary;
        width: 60%;
        margin: auto;
        height: 50px;
      }
    }
  }
}
