@use "../../assets/sass/_variables.scss" as *;

  .ticket__border {
    border: 2px solid $color-black;
    width: 35%;
    height: 40%;
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ticket__counter {
      border: 2px solid $color-black;
      width: 70%;
      height: 120px;
      position: relative;
      bottom: 20px;
      text-align: center;
      
      .counter{
        
      }

      .buttons > * {
        position: relative;
        bottom: 38px;
        left: 1px;
        border-radius: 25px;
        margin: 0 15px;
      }

      .reset {
        position: relative;
        bottom: 38px;
        left: 1px;
        border-radius: 25px;
      }

    } 
      .ticket__title{
        position: relative;
        bottom: 15px;
      }
      .ticket__name{
        position: relative;
        bottom: 35px;
        right: 70px;
      }
      .ticket__role{
        position: relative;
        bottom: 98px;
        left: 50px;
      }
  }

