@use "./assets/sass/_variables.scss" as *;

.app {
  background: #bece97;
  background: -moz-linear-gradient(
    -45deg,
    #bece97 0%,
    #08a1a4 100%,
    #9dc500 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #bece97 0%,
    #08a1a4 100%,
    #9dc500 100%
  );
  background: linear-gradient(135deg, #bece97 0%, #08a1a4 100%, #9dc500 100%);
  .main {
    border: 2px solid $color-black;
    width: 80%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .greeting {
    text-align: center;

    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 5px;
    }
  }
}

.article {
  padding: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 4px;
}

@media (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);

    .greeting {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        height: 100px;
      }
    }
  }
}
