@use "./assets/sass/_variables.scss" as *;

.app {
  width: 150vh;
  height: 400vh;
  background: #bece97;
  background: -moz-linear-gradient(
    -45deg,
    #bece97 0%,
    #08a1a4 100%,
    #9dc500 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #bece97 0%,
    #08a1a4 100%,
    #9dc500 100%
  );
  background: linear-gradient(135deg, #bece97 0%, #08a1a4 100%, #9dc500 100%);
  
  .main {
    width: 140vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 5em;
    .ticket__container{
      width: 100vh;
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .greeting {
    position: absolute;
    text-align: center;
    top: 5em;
    left: 4em;

    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 5px;
    }
  }
}

.article {
  padding: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 4px;
}

@media (min-width: 992px) {
  .app {

    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);

    .greeting {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        height: 100px;
      }
    }
  }
}
